.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#root {
  /* background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.7iS4L90VlwLTEbIJvvu6MAHaE8%26pid%3DApi&f=1&ipt=951e6002986a168c54449c1997e4c692538d830db2710144894747cfc01700ba&ipo=images"); */
  background-repeat: no-repeat;
  background-size:600px 400px;
  background-position: center;
  background-attachment: fixed;
  
}

.card.mb-3 {
  height: 205px;

}
h5{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
}
h4{
  font-family: 'Arial';
  font-size: 22px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
